@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(251,251,253);
  --foreground-accent-rgb: rgb(147, 198, 200);
  --accent-rgb: rgb(184, 222, 247);
  --background-start-rgb: rgb(72, 98, 146);
  --background-end-rgb: rgb(116, 141, 182);
}
